* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

body {
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
}

.batterys {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*============slogan================*/
.slogan_battery {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.2;
  color: #0a0a0a;
  padding: 20px 0;
  text-align: center;
  margin-top: -46px;
  margin-bottom: 21px;
}

.slogan_battery:after {
  position: absolute;
  display: block;
  content: "";
  height: 4px;
  width: 403px;
  background-color: #1b4d3e;
  background-image: linear-gradient(80deg, #1b4d3e 0%, #d7e207 100%);
  border-radius: 999px;
  left: 555px;
  top: 65px;
}

h2 strong {
  background-color: #1b4d3e;
  background-image: linear-gradient(79deg, #1b4d3e 0%, #d7e207 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.center_page {
  border: solid 53px #f1f1f1;
  background-color: #f1f1f1;
  max-width: 974px;
  margin-left: auto;
  margin-right: auto;
  margin-top:  11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

/*-----------------CSS battery------------------*/
.battery {
  margin-bottom: 48px;
  background-color: #fff;
  position: relative;
  width: 412px;
  height: 223px;
  border-radius: 10px;
  display: flex;
}

.img_battery {
  background-color: #dcefe9;
  width: 201px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.child-img-battery {
  position: absolute;
  z-index: 1;
  width: 83px;
  height: 83px;
  background-color: #cadbca;
  border-radius: 50%;
  left: 89px;
  top: 6px;
  border: 4px solid #f1f1f1;
}

.infor_battery {
  font-size: 18px;
  width: 414px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 43px;
}

form {
  padding-top: 35px;
  font-weight: 600;
  line-height: 11px;
}

.name-battery + p {
  max-width: 220px;
}

.infor_battery .name-battery {
  display: inline-block;
  font-size: 25px;
  font-weight: 200;
  padding-bottom: -15px;
  color: rgba(7, 128, 8, 1);
  text-shadow: 4px 2px 5px rgba(7, 128, 8, 1);
}

.img_battery img {
  display: block;
  padding-top: 45px;
}

.count_battery {
  font-size: 27px;
  font-weight: 700;
  font-style: italic;
  color: #1b4d3e;
}

.custom-loader {
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 2px;
}

.custom-loader {
  --R: 30px;
  --g1: #1b4d3e 96%, #0000;
  --g2: #e4e4ed 96%, #0000;
  width: calc(2 * var(--R));
  height: calc(2 * var(--R));
  border-radius: 50%;
  display: grid;
  -webkit-mask: linear-gradient(#000 0 0);
  animation: s10 2s infinite linear;
}

.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  width: 50%;
  background: radial-gradient(farthest-side, var(--g1))
      calc(var(--R) + 0.866 * var(--R) - var(--R))
      calc(var(--R) - 0.5 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1))
      calc(var(--R) + 0.866 * var(--R) - var(--R))
      calc(var(--R) - 0.5 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g2))
      calc(var(--R) + 0.5 * var(--R) - var(--R))
      calc(var(--R) - 0.866 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1)) 0 calc(-1 * var(--R)),
    radial-gradient(farthest-side, var(--g2))
      calc(var(--R) - 0.5 * var(--R) - var(--R))
      calc(var(--R) - 0.866 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1))
      calc(var(--R) - 0.866 * var(--R) - var(--R))
      calc(var(--R) - 0.5 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g2)) calc(-1 * var(--R)) 0,
    radial-gradient(farthest-side, var(--g1))
      calc(var(--R) - 0.866 * var(--R) - var(--R))
      calc(var(--R) + 0.5 * var(--R) - var(--R));
  background-size: calc(2 * var(--R)) calc(2 * var(--R));
  background-repeat: no-repeat;
}

.custom-loader::after {
  transform: rotate(180deg);
  transform-origin: right;
}

@keyframes s10 {
  100% {
    transform: rotate(-1turn);
  }
}

/* -------------------------CSS - btn ----------------------- */
.button-49 {
  display: flex;
  z-index: 2;
  margin-top: -65px !important;
  margin: auto;
}

.button-49,
.button-49:after {
  text-align: center;
  justify-content: center;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  order: 0;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(45deg, transparent 5%, #1b4d3e 5%);
  border: 0;
  color: #fff;
  letter-spacing: 2px;
  box-shadow: 6px 0px 0px #ddf600;
  outline: transparent;
  position: relative;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "XÁC NHẬN";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #ddf600 3%,
    #ddf600 5%,
    #1b4d3e 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 159px;
    height: 53px;
    line-height: 52px;
  }
}

.thick-check-mark {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 31px;
  border: 6px solid #d7e207;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  z-index: 2;
}

/*=================================*/

.indeterminate-progress-bar {
  /* Color */
  background-color: #d1d5db;

  /* Rounded border */
  border-radius: 9999px;

  /* Size */
  height: 0.5rem;

  width: 500px;

  position: relative;
  overflow: hidden;

  margin: auto;
}

.indeterminate-progress-bar__progress {
  /* Color */
  background-color: #44f63b;

  /* Rounded border */
  border-radius: 9999px;

  /* Absolute position */
  position: absolute;
  bottom: 0;
  top: 0;
  width: 50%;

  /* Move the bar infinitely */
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: indeterminate-progress-bar;
}

@keyframes indeterminate-progress-bar {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

/* =======================development========================= */

.development {
  margin-top: 40px;
}

.content_development {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: normal;
  align-content: normal;
}

.content_development:nth-child(3) {
  margin-top: 32px;
  margin-bottom: 64px;
}

.child_content_development {
  height: 200px;
  width: 30%;
  background-color: #999;
}

.child_content_development:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.child_content_development:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

/*================btn-heart===================*/
.txt-development div {
  font-size: 24px;
  font-weight: 500;
}

[id="heart"] {
  position: absolute;
  left: -100vw;
}

[for="heart"] {
  color: #aab8c2;
  cursor: pointer;
  font-size: 26px;
  align-self: center;
  transition: color 0.2s ease-in-out;
}

[for="heart"]:hover {
  color: grey;
}

[for="heart"]::selection {
  color: none;
  background: transparent;
}

[for="heart"]::moz-selection {
  color: none;
  background: transparent;
}

[id="heart"]:checked + label {
  color: #f90737;
  will-change: font-size;
  animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

@keyframes heart {
  0%,
  17.5% {
    font-size: 0;
  }
}
